<br>
<div class="container">
    <h1 class=" page-header">Contact</h1>
    <br>
    <br>
    <br>
    <div class="row ">
        <div class="col-md-4 animated rubberBand">
            <p>We are working 24/7</p>
            <p><a href="#/address"><i class="fa fa-rocket fa-2x fa-fw "
                                      aria-hidden="true"></i>Haifa, Israel</a></p>
            <p><i class="fa fa-phone  fa-2x fa-fw "
                  aria-hidden="true"></i>+972-546624559</p>
            <p><i class="fa fa-envelope  fa-2x fa-fw "
                  aria-hidden="true"></i>info@tennis.com</p>
        </div>
        <div class="col-md-8">
            <form ng-submit="sendMail()">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input ng-model="mail.username" class="form-control" id="name" name="name" placeholder="Name"
                               type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input ng-model="mail.email" class="form-control" id="email" name="email" placeholder="Email"
                               type="email" required>
                    </div>
                </div>

                <textarea ng-model="mail.text" class="form-control" id="comments" name="comments" placeholder="Comment"
                          rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn btn-outline-primary pull-right" type="submit">Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>