<!--HOME TEMPLATE-->

<br>
<br>
<br>

<div class="container">
    <div class="jumbotron animated rubberBand">
        <h1 class="display-3 center">Wanna Play ?</h1>
        <h1 class="display-3 center"> We are waiting for you!</h1>
        <p class="center">Create your account and find players according to rating, location, score and gender!</p>
        <p class="center">Improve your skills and rating!</p>
        <p class="center" ng-hide="isLoggedIn()"><a class="hvr-wobble-vertical btn btn-success btn-lg" href="/#/login">Login</a>
            <a class="hvr-wobble-vertical btn btn-info btn-lg" href="/#/register">Register</a></p>
    </div>
</div>
