<!--LOGIN TEMPLATE-->

    <br>
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
    </div>

    <div ng-show="error" class="alert alert-dismissible alert-danger row ">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
          style="margin-top:30px;" class="animated rubberBand">
        <!--<h3>Log In</h3>-->

        <div class="form-group ">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password">
        </div>
        <button type="submit" class="hvr-wobble-vertical btn btn-success btn-lg">Login</button>
    </form>
</div>