<!--PROFILE TEMPLATE-->

<br>

<div class="container">
    <div class="page-header">
        <h1>Your Profile</h1>
    </div>
    <div class="row ">
        <!--<div class="col"></div>-->
        <!--card profile-->

        <div class="card col-4 center animated rubberBand" >
            <h3 class="card-header">Name -<span class="badge badge-pill badge-success">{{currentUser().username.toUpperCase()}}</span></h3>
            <img  style="height: 70px; width: 25%; display: block; margin:0;margin:auto; margin-top:5px;"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  alt="Card image">
            <div class="card-body">

                <h5 class="card-title ">Your Rating - <span class="badge  badge-warning">{{current.rating}}</span></h5>
                <h5 class="card-title ">Your Score - <span class="badge badge-warning">{{current.score}}</span></h5>

                <h5 class="card-title">Your Phone - <span class="badge badge-pill badge-success">{{current.phone}}</span></h5>
                <h5 class="card-title">Your City - <span class="badge badge-pill badge-success">{{current.city}}</span></h5>
                <h5 class="card-title">Your Email - <span class="badge badge-pill badge-success">{{current.email}}</span></h5>
            </div>

            <div class="card-body">
                <!--<a href="/#/profile" class="card-link" data-toggle="modal" data-target="#exampleModal">Edit profile</a>-->

                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#betaModal">Edit profile</button>
                <!--<a href="#" class="card-link">Another link</a>-->

            </div>


        </div>

        <div class="col">
            <p class="center" >
                <a class="hvr-wobble-vertical btn btn-info btn-lg" href="/#/players">Lets Game Begin</a></p>
        <!---->
    </div>
</div>
<!--<form ng-submit="email()"-->
      <!--style="margin-top:30px;" ng-show="isLoggedIn()">-->
    <!--<h3>Email Me</h3>-->

    <!--<button type="submit" class="btn btn-primary">Send</button>-->
<!--</form>-->
<!--<form ng-submit="getCurrentUser()"-->
      <!--style="margin-top:30px;" ng-show="isLoggedIn()">-->
    <!--<h3>current user</h3>-->

    <!--<button type="submit" class="btn btn-primary">get current user</button>-->
<!--</form>-->
<

<div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can start use the
        application.
    </h3>
</div>
<!---->

<!---->