<!--PROFILE TEMPLATE-->

<br>
<div class="page-header">
    <h1>PROFILE</h1>
</div>

<!--<div ng-repeat="user in users">-->
<!--&lt;!&ndash;<span class="glyphicon glyphicon-thumbs-up"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="incrementUpvotes(post)"></span>&ndash;&gt;-->
<!--&lt;!&ndash;{{post.upvotes}}&ndash;&gt;-->
<!--<span style="font-size:20px; margin-left:10px;">-->
<!--<a ng-show="post.link" href="{{post.link}}">-->
<!--{{post.title}}-->
<!--</a>-->
<!--<span ng-hide="post.link">-->
<!--{{post.title}}-->
<!--</span>-->
<!--</span>-->
<!--<span ng-show="post.author">-->
<!--posted by {{post.author}} |-->
<!--</span>-->
<!--<span>-->
<!--<a href="#/posts/{{post._id}}">Comments</a>-->
<!--</span>-->
<!--</div>-->
<form ng-submit="emailMe()"
      style="margin-top:30px;" ng-show="isLoggedIn()">
    <h3>Email Me</h3>

    <button type="submit" class="btn btn-primary">Send</button>
</form>
<form ng-submit="getCurrentUser()"
      style="margin-top:30px;" ng-show="isLoggedIn()">
    <h3>current user</h3>

    <button type="submit" class="btn btn-primary">get current user</button>
</form>
<!--                -->
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchFish">
        </div>
    </div>
</form>

<table ng-show="isLoggedIn()" class="table table-striped table-hover">
    <thead>
    <tr>
        <th><a href="" ng-click="sortType = 'rating'" class="nav nav-tabs">Rating</a></th>
        <th><a href="" ng-click="sortType = 'score'" class="nav nav-tabs">Score</a></th>
        <th><a href="" ng-click="sortType = 'city'">City</a></th>
        <th>Player</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users | orderBy: sortType | filter:searchFish">
        <td>{{ user.rating }}</td>
        <td>{{ user.score }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.username }}</td>
        <td>
            <button ng-click="play(user)" class="btn btn-primary">Play</button>
        </td>
    </tr>
    </tbody>
</table>

<!--<form ng-submit="addPost()"-->
<!--style="margin-top:30px;" ng-show="isLoggedIn()">-->
<!--<h3>Add a new post</h3>-->

<!--<div class="form-group">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--placeholder="Title"-->
<!--ng-model="title"></input>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text"-->
<!--class="form-control"-->
<!--placeholder="Link"-->
<!--ng-model="link"></input>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary">Post</button>-->
<!--</form>-->

<div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.
    </h3>
</div>
