<!--REGISTER TEMPLATE-->

    <br>
<div class="container">
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <div ng-show="error" class="alert alert-dismissible alert-danger row ">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
          style="margin-top:30px;" class="animated rubberBand">
        <!--<h3>Register</h3>-->

        <div class="form-group ">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password1">
        </div>
        <div class="form-group">
            <input type="tel" pattern="^[0-9\-\+\s\(\)]*$"
                   class="form-control"
                   placeholder="Phone"
                   ng-model="user.phone">
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="City"
                   ng-model="user.city">
        </div>
        <div class="form-group">
            <input type="email"
                   class="form-control"
                   placeholder="Email"
                   ng-model="user.email">
        </div>

        <button type="submit" class="hvr-wobble-vertical btn btn-info btn-lg">Register</button>
    </form>
</div>